/* Body */
body{
    font-family: Roboto, sans-serif;
}




/* Navbar */


/* Trocar a cor de fundo da navbar */
.navbar{
    background-color: #e15f41;
}

/* Trocar a cor de fundo de cor da fonte do menu ativo */
.navbar .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}


.nav .nav-link,
.nav .nav-link:hover,
.navbar .navbar-brand,
.navbar .navbar-brand:hover{
    color: #fff;
    
}


.navbar-brand{
    font-family: Pacifico, cursive;
}

/* Caroussel */

.carousel.slide{
    height: 50vh;
   
}

.carousel-inner{
    height: 100%;
}



img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

/* Titulos */

.section-title{
    font-family: Pacifico, cursive;
}

/* Cor de complemento do titulo */
.text-colored{
    color: #e15f41;
}

/* Cor de fundo da section */
#sobre-o-restaurante{
    background-color: #ffeae6;
}

