/* Body */
body{
    font-family: Roboto, sans-serif;
}




/* Navbar */


/* Trocar a cor de fundo da navbar */
.navbar{
    background-color: #e15f41;
}

/* Trocar a cor de fundo de cor da fonte do menu ativo */
#header .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}


#header .nav .nav-link,
.nav .nav-link:hover,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
    
}


.navbar-brand{
    font-family: Pacifico, cursive;
}

/* Caroussel */

/* Definição de altura do carrosesel */
.carousel.slide{
    height: 50vh;
   
}

/* Container de imagens do carrossel ocupar toda a altura do pai */
.carousel-inner{
    height: 100%;
}


/* Ajuste de imagens do carrossel */
.carousel-inner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

/* Titulos */

.section-title{
    font-family: Pacifico, cursive;
}

/* Cor de complemento do titulo */
.text-colored{
    color: #e15f41;
}

/* Cor de fundo da section */
#sobre-o-restaurante{
    background-color: #ffeae6;
}

.nav-cardapio .nav-link.active{
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #e15f41;
}
